{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/bootstrap-material-design.min.css">
<style>
html, body, #map {
    height: 100%;
}
#floating-panel {
    background-color: white;
    padding: 20px;
}
#floating-panel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
    #floating-panel {
        z-index: 999999;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 260px;
        height: 250px;
    }
}
</style>
{% endblock %}

{% block body %}
<div id="floating-panel">
    <div class="togglebutton">
        <label>Crime Heatmap&nbsp;&nbsp;&nbsp;
            <input type="checkbox" checked="" onclick="$('input[name=time-frame]').attr('disabled', !($(this).is(':checked'))); toggleHeatmap()">
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="day" onclick="load100();" checked> Day
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="week" onclick="load500();"> Week
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="month" onclick="load1000();"> Month
        </label>
    </div>

    <hr>

    <label style="text-decoration: underline;">Safe Spaces</label>
    <div class="togglebutton">
        <label>Police Stations&nbsp;&nbsp;&nbsp;
            <input type="checkbox" onclick="togglePolice();">
        </label>
    </div>
    <div class="togglebutton">
        <label>Libraries&nbsp;&nbsp;&nbsp;
            <input type="checkbox" onclick="toggleLibraries();">
        </label>
    </div>
    <div class="togglebutton">
        <label>Schools&nbsp;&nbsp;&nbsp;
            <input type="checkbox" onclick="toggleSchools();">
        </label>
    </div>

    <div class="text-center">
        <label><a href="tel://911">CALL 911</a></label>
    </div>
</div>
<div id="map"></div>
<script src="/static/material.min.js"></script>
<script>$.material.init()</script>
<script>
    fb_id = "{{ facebook_id }}";
    fb_name = "{{ facebook_name }}";
    fb_img = "{{ facebook_picture | safe }}";
</script>
<script src="/static/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkevAkFm-6rY1ftdGnPKDu3iZYIlY_7NY&libraries=visualization&callback=initMap"></script>
{% endblock %}
