{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/bootstrap-material-design.min.css">
<style>
@media screen and (min-width: 768px) {
    #floating-panel {
        position: absolute;
        background-color: white;
        left: 0;
        bottom: 0;
        width: 300px;
        height: 200px;
        padding: 15px;
    }
}
</style>
{% endblock %}

{% block body %}
<div id="floating-panel">
    <div class="togglebutton">
        <label>Crime Heatmap&nbsp;&nbsp;&nbsp;
            <input type="checkbox" checked="" onclick="toggleHeatmap()">
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="day" checked> Day
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="week"> Week
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="time-frame" value="month"> Month
        </label>
    </div>

    <hr>

    <div class="togglebutton">
        <label>Police Stations&nbsp;&nbsp;&nbsp;
            <input type="checkbox" checked="" onclick="togglePolice()">
        </label>
    </div>
    <div class="togglebutton">
        <label>Libraries&nbsp;&nbsp;&nbsp;
            <input type="checkbox" checked="" onclick="toggleLibraries()">
        </label>
    </div>
    <div class="togglebutton">
        <label>Schools&nbsp;&nbsp;&nbsp;
            <input type="checkbox" checked="" onclick="toggleSchools()">
        </label>
    </div>
</div>
<div id="map"></div>
<script src="/static/material.min.js"></script>
<script>$.material.init()</script>
<script>
    fb_id = "{{ facebook_id }}";
    fb_name = "{{ facebook_name }}";
    fb_img = "{{ facebook_picture | safe }}";
</script>
<script src="/static/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkevAkFm-6rY1ftdGnPKDu3iZYIlY_7NY&libraries=visualization&callback=initMap"></script>
{% endblock %}
